div:hover {
    border: 5px solid black;
}
div:nth-of-type(1){
    background-color: red;
    font-family: monospace;
    font-size:100%;
    font-style: italic;
}
div:nth-of-type(2){
    background-color: purple;
    font-family: cursive;
    font-size: 100%;
}
div:nth-of-type(3){
    background-color: yellowgreen;
    font-style: italic;
    font-size: 150%;
}
div:nth-of-type(4){
    background-color: black;
    color: white;
    font-family: Georgia;
    font-size: 100%;
}
div:nth-of-type(5){
    background-color: plum;
    font-family: monospace;
    font-style: italic;
    font-size: 100%;
}